# npm & yarn
/*.lock
!yarn.lock
package-lock.json
*.tgz

# next
/.next

# shuvi
/.shuvi
/dist

# babel dist
/lib

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.rdb
*.db
nohup.out
.nyc_output
coverage.lcov

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.*-project
*.*-workspace
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
old/
*-old/
*-notrack/
no-track/
build/
combo/
reference/
jscoverage_lib/
temp/
tmp/

# Java
.mvn
.gradle
.project
.classpath
/gradle

# codecov.io
coverage/

src/pages/_local.js
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
